# Telegram Bot
BOT_TOKEN=8857002666:AAEMYArWrRfUeSWZH9loBNA1tEbDE1ixwJ4

# Database
DATABASE_URL=sqlite+aiosqlite:///./pet_eaters.db
# Для PostgreSQL:
# DATABASE_URL=postgresql+asyncpg://user:password@localhost/pet_eaters

# Environment
ENVIRONMENT=development
DEBUG=True
LOG_LEVEL=INFO